@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Playfair+Display:ital@1&display=swap');
/* -------------------------- 
------ GENERAL
-------------------------- */
body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
}
/* -------------------------- 
------ NAVBAR
-------------------------- */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #6f6f6f;
}
nav h1{
 color: #717171;
 font-family: 'Playfair Display', sans-serif;
 font-size: 30px;
}
nav .fenêtre{
    margin-top: 3px;
    margin-left: 300px;
}
nav .fenêtre a{
    text-decoration: none;
    color: #000000;
    margin-right: 10px;
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
}
@media screen and (max-width:768px){
    nav .fenêtre{
        margin-left: 0px;
        margin-bottom: 20px;
    }
}
/* -------------------------- 
------ HEADER
-------------------------- */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('/Vitrine/images/bgheader.jpg');
    background-size:cover ;
    color: whitesmoke;
    padding: 40px;
}
header h1{
    font-family: 'Playfair Display', sans-serif;
    font-size: 50px;
}
header h4{
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid whitesmoke;
}
header button{
    padding : 10px 20px;
    background-color:#fff ;
    color: #000000;
    border: none;
    font-size: 20px;
    font-family: 'Playfair Display',sans-serif;
    outline:none;
    cursor: pointer;
}